  <div id="middle_div"> 
               <div id="middleprayer" > 
                      <div>
                        Add Prayer
                    <form action="/prayers" method="post">
                      <table>
                      <tr><td>Title:-</td><td><%=text_field 'prayer' ,'title'%></td></tr>
                      <tr><td>Description:-</td><td><%=text_area 'prayer' ,'description', :rows => 2, :cols => 35%></td></tr>
                      <tr><td>Lat:-</td><td><%=text_field 'prayer' ,'lat'%></td></tr>
                      <tr><td>Lang:-</td><td><%=text_field 'prayer' ,'lang'%></td></tr>
                      
                      </table>
                      <%=hidden_field 'prayer','user_id',:value=>current_user.id%>
                      <button id="contactsubmit" type="submit">Submit</button>    
                    </form>
                         <p class="prayer_label"> All Prayers</p>  
                      </div>
                        <%com=0%>
                        <%for prayer in @uprayer%>
                          <div>
                              <div style="padding-top:20px;">          
                                   <p class="prayer">
                                   Prayer Added  By  <%=prayer.user.login%> :-  <%=prayer.title%>
                                   </p>  
                                   <p class="prayer">
                                   Prayer description :-  <%=prayer.description%>
                                   </p>
                                   <p class="prayer">
                                   Prayer Lat :-  <%=prayer.lat%>
                                   </p>    
                                   <p class="prayer">
                                   Prayer Lang :-  <%=prayer.lang%>
                                   </p>    
                                    <%for comment in  @usercomments[com]%> 
                                       <div >    
                                       <p class="comment" style="clear:both;padding-top:2px;"> 
                                          <p id="commentimage">
                                            <%if comment.user.binary_data.blank?%>
                                          <img src="/images/blank.jpeg"></img>                  
                                            <%else%>
                          <%= image_tag("/users/code_image/#{comment.user.id}", :alt => "Image",:size=>"50x50") %>
                                            <%end%>  
                                          </p>
                                        <p class="comment">
                                              Comment Added By <%=comment.user.login%> :-  <%=comment.comment%>
                                        </p>        
                                        </p>  
                                        </div>
                                    <%end%>    
                                    <%com=com+1%>                               
                              </div>
                          </div>    
                          <div id="addcomment"> 
                               <label onclick="document.getElementById('commentform<%=prayer.id%>').style.display='block'" style="cursor:move;"> Add Comments  </label>
                          </div> 
                          <div id="commentform<%=prayer.id%>" style="display:none;width: 255px;"> 
                                <img src="/images/xsmall.jpeg" style="padding-left:230px;cursor:move;" onclick="document.getElementById('commentform<%=prayer.id%>').style.display='none'" ></img>
                               <form action="/comments" method="post"> 
                                   <%=text_area 'comment' ,'comment', :rows => 2, :cols => 30%>
                                  <%=hidden_field 'comment','user_id',:value=>current_user.id%>
                                  <%=hidden_field 'comment','prayer_id',:value=>prayer.id%>   
                                 <button id="contactsubmit" type="submit">Submit</button>    
                              </form>
                          </div>  
                              <%end%>
               </div>         
    </div>




